<p style="color: green"><%= notice %></p>

<% content_for :title, "People" %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>People</h1>
  <%= link_to "New person", new_person_path, class: "btn btn-primary" %>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="people">
  <% @people.each do |person| %>
    <div class="col">
      <div class="card h-100" id="<%= dom_id person %>">
        <div class="card-body">
          <h5 class="card-title"><%= person.first_name %> <%= person.last_name %></h5>
          <% if person.birthday.present? %>
            <p class="card-text text-muted mb-1"><small><%= person.birthday.strftime("%B %-d, %Y") %></small></p>
          <% end %>
          <% if person.address.present? %>
            <p class="card-text text-muted mb-1"><small><%= person.address %></small></p>
          <% end %>
        </div>
        <div class="card-footer bg-primary">
          <%= link_to "View", person, class: "btn btn-sm btn-light" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
